body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif; /* 한국어 지원 폰트 */
    color: #333; /* 기본 텍스트 색상 */
}

a {
    text-decoration: none;
    color: #333; /* 링크 색상 */
}

a:hover {
    color: #4CAF50; /* 마우스 오버 시 초록색 */
}

nav {
    height: 80px;
    background-color: #4CAF50; /* 내비게이션 바 초록색 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* 좌우 패딩 추가 */
}

.nav-item {
    padding: 20px;
    font-weight: 700;
}

main {
    height: 900px; /* 높이 조정 */
    background-color: rgb(204, 255, 204); /* 밝은 초록색 배경 */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* 중앙 정렬 */
}

.headline {
    font-size: 80px; /* 크기 조정 */
    line-height: 70px;
    color: #392f31; /* 제목 색상 */
    font-weight: 900;
    padding-bottom: 40px; /* 아래 여백 추가 */
}

.input-box {
    margin-top: 20px;
    width: 561px; /* 가로 세로 */
    height: 44px;
    border-radius: 24px; /* 모서리 둥글게 만드는거 */
    border: 1px solid #dfe1e5;
    padding-left: 40px; /* 상자 안쪽에 공간을 줌 */
    padding-right: 40px;
}

.button-area {
    text-align: center;
    margin-top: 20px; /* 버튼 영역과 이미지 사이의 간격 */
}

.item {
    display: flex;
    justify-content: center; /* 이미지 중앙 정렬 */
    margin-top: 60px;
    margin-bottom: 20px; /* 이미지와 버튼 사이의 간격 */
}
.item-px:hover{
    transform: scale(1.1); /* 마우스 오버 시 크기 증가 */
}
.item-px{
    margin-right: 10px;
}
.item-px:last-child {
    margin-right: 0; /* 마지막 이미지 오른쪽 간격 없애기 */
}


.button-style {
    padding: 25px 65px;
    background-color: #4CAF50; /* 버튼 배경색 */
    border-radius: 25px; /* 둥근 모서리 */
    font-size: 18px; /* 폰트 크기 변경 */
    color: white; /* 텍스트 색상 */
    font-weight: 700;
    border: none;
    cursor: pointer; /* 포인터 변경 */
}

.button-style:hover {
    transform: scale(1.1); /* 마우스 오버 시 크기 증가 */
    background-color: #45a049; /* hover 색상 */
}
